:root {
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-tertiary: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
}

*, *::after, *::before{
    box-sizing: border-box;

}

/* Tipografia */
html{
    font-size: 62.5%;
}

body {
    font-family: Inter, Arial, Halvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    color: var(--color-body);
    background: #38e1ff;

    min-height: 100vh; /* alterado: usar min-height em vez de max-height */
    display: flex;
    flex-direction: column;
}

.block--dark .block__heading {
    color: #fff;
}

h1, h2, h3{
    color: var(--color-headings);
    margin-bottom: 1rem;
    line-height: 1.1;
}

h1{
    font-size: 7rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3rem;
}

p {
    margin-top: 0;
} 

legend {
    color: var(--color-headings);   
    font-size: 3rem;
}

/* Links */
a {
    text-decoration: none;
}

.link-arrow{
    color: var(--color-tertiary);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow::after{
    content: '→';
    margin-left: 5px;
    transition: margin-left 0.15s;
}

.link-arrow:hover::after{
    margin-left: 10px;
}

/* Listas */
.list {
    list-style: none;
    padding-left: 0;
    color: var(--color-headings);
}

.lists--inline .list__item{
    display: inline-block;
    margin-right: 2rem;

}

.list--tick {
    list-style-image: url("./imagens/tick.svg");
    padding-left: 3rem;
}

.list--tick .list__item {
    padding-left: 0.5rem;
}

/* Buttons */
 .btn {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    padding:  2rem 3rem;
    border: 0;
    border-radius: 40px;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    margin: 1rem 0;
 }

 .btn--primary {
    background-color: var(--color-primary);
    color: #fff;
 }

 .btn--primary:hover {
    background: #38affd;

 }

.btn--secondary{
    background-color: var(--color-secondary);
    color: #fff;
}

.btn--secondary:hover{
    background: #00c8eb;
}

.btn--tertiary{ 
    background-color: var(--color-tertiary); 
    color: #fff;
}

.btn--tertiary:hover{
    background: #ec3000;
}

.btn--block {
    display: inline-block;
    width: 100%;
}

.btn--outline {
    background: #ffff;
    color: var(--color-headings);
    border: 2px solid var(--color-headings);
}

.btn--outline:hover {
    background: var(--color-headings);
    color: #ffff;
}

.btn--stretched {
    padding-left: 6rem;
    padding-right: 6rem;
    width: 100%;
    display: inline-block;
}

/* Card */
.card {
    border-radius:  7px;
    box-shadow:  0 0 5px 2.5px #f3f3f3;
    overflow: hidden;

}

.card__header, .card__body {
    padding: 2rem 3rem;
    background: #f3f3f3;
} 

.card--primary .card__header {
    background: var(--color-primary);
    color: #fff;
}

.card--secondary .card__header {
    background: var(--color-secondary);
    color: #fff;
}

/* Plan */
.plan__name {
    color: #fff;
    margin: 0;
    font-weight: 500;
    font-size: 2.5rem;
}

.plan__description {
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 1px;
    display: block;
}

.plan .list__item {
    margin-bottom: 2rem;
}

/* Grid */
.grid {
    display: grid;
}

/* Icone */
.icon {
    width: 40px !important;
    height: 40px !important;
}

.icon--primary {
    fill: var(--color-primary);
}

/* Navbar */

.nav {
    position: relative;
    background: var(--color-secondary);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
}

.nav__list {
    width: 100%;
    margin: 0;
}

.nav__item {
    padding: 0.5rem 2rem;
    border-bottom: 1px solid #222;
}

.nav__item > a {
    color: var(--color-primary); 
    transition: color 0.3s ;
}

.nav__item > a:hover {
    color: #fff; 
}

.collapsible__content {
    display: none;
    overflow: hidden;
    transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
    max-height: 100vh;
    display: block;
}

.nav__toggler {
    cursor: pointer;
    position: relative;
    transition: box-shadow 0.15s;
}

.nav__toggler:hover {
    opacity: 0.5;
    box-shadow: 0 0 10px var(--color-primary);
}

.home {
    font-family: "Momo Signature", cursive;
    color: var(--color-headings);
    position: absolute;
    left: 40%;
    margin-top: 0.5rem;
    font-size: 3rem;

}

/* Hero */

.hero__tagline {
    font-size: 2rem;
    /* color: #b9c3cf; */
    color: #f3f3f3;
    letter-spacing: 1px;
    margin: 2rem 0 5rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hero__image {
    width: 100vw;
}

.hero__content{
    padding-left: 5%;
    padding-right: 5%;
    
}

.hero__content--right {
    padding-left: 5%;
    padding-right: 5%;
}

.foo {
    background: var(--color-secondary);
    margin: 0;
    padding: 0;
    text-align: center; /* centraliza horizontalmente */
}

.foo p {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}


/* form */

form fieldset {
    border: 2px solid var(--color-headings);
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

form legend {
    font-weight: bold;
    padding: 0 0.5rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    border: 1px solid  var(--color-headings);
    font-size: 1rem;
}

.success-message {
    display: none; 
    margin-bottom: 1rem;
    color: green;
    font-weight: bold;
    text-align: center;
}

/* Media Queries */
@media screen and (min-width: 1024px) {
    h1{
        font-size: 8rem;
    }

    h2{
        font-size: 4rem;
    }
 
    h3{
        font-size: 2.4rem;
    }
}


@media screen and (min-width: 1024px) {
    .link-arrow {
       font-size: 1.5rem;
    }
} 

@media screen and (min-width: 1024px) {
    .list--tick .list__item {
        padding-left: 0.0;   
    }
}  

@media screen and (min-width: 1024px) {
    .btn {
        font-size: 1.5rem;
    }
} 

@media screen and (min-width: 1024px) {
    .plan__name {
        font-size: 2rem;
    }

    .plan__description {
        font-size: 1.7rem;
    }
}

@media screen and (min-width: 1024px) {
    .grid--1x2{
        grid-template-columns: repeat(2, 1fr);
        min-height: 100vh;
        min-width: 100vw;
        position: relative;
        overflow: hidden;
        align-items: center;

        flex: 1 1 auto;
        min-height: 0;
    }
    .grid--1x2::before {
        content: "";
        position: absolute;
        inset: 0;
        /* background-image: linear-gradient(to top, rgba(158, 168, 214, 0.85) 0%, rgba(102,126,234,0.0) 80%), url("./imagens/voluntariado.jpg"); */
        background-repeat: no-repeat;
        background-position: center right;
        background-size: cover;
        filter: blur(3px);
        z-index: -1; /* fica atrás do próprio conteúdo */
        pointer-events: none;
    }

    .grid-inicio::before {
        background-image: linear-gradient(to top, rgba(158, 168, 214, 0.85) 0%, rgba(102,126,234,0.0) 80%), url("./img/voluntariado.jpg");
    }

    .grid-projetos::before {
        background-image: linear-gradient(to top, rgba(158, 168, 214, 0.85) 0%, rgba(102,126,234,0.0) 80%), url("./img/voluntariado_projetos.png");
    }

    .grid-cadastro::before {
        background-image: linear-gradient(to top, rgba(158, 168, 214, 0.85) 0%, rgba(102,126,234,0.0) 80%), url("./img/voluntariado_cadastro.jpeg");
    }
} 

@media screen and (min-width: 1024px) {
   .nav__toggler{
        display: none;
   }

   .nav__list {
        width: auto;
        display: flex;
        max-height: 100%;
        opacity: 1;

   }

   .nav__item {
        border: 0;
    
   }
} 


@media screen and (min-width: 1024px) {
    .hero {
        padding-top: 0;
    }

  .hero__content {
    text-align: left;
    align-self: center;
    padding-left: 5%;
    padding-right: 5%;
  }
}

    